*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.mobile-nav {
    display: none;
    justify-content: center;
    align-items: center;

}
.mobile-nav h2 {
    margin: 20px 0;
}


/* ============= */
.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-section h3 {
    margin: 20px 0;
}
.header-button {
    background: #D9D9D9;
    height: 35px;
    width: 220px;
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    margin-top: 40px;
}
.btn-head {
    border-radius: 5px;
    background: #FFFFFF;
    border: none;
    height: 25px;
    width: 100px;
    padding-right: 5px;
    margin-right: 10px;
}

/* ============= */


.main-section {
    border: 3px solid black;
    width: 90%;
    height: 100%;
    padding: 25px;
    border-radius: 25px ;
    margin: 25px auto;
    display: flex;
    justify-content: space-evenly;
}

.main-text {
    padding: 10px;

}

.main-text__holder {
    /* border: 2px solid tomato; */
    padding-bottom: 20px;
    padding-left: 10px;
    height: 250px;

}

.main-text__holder p, h5 {
    padding-top: 10px;
    
}

.text-number {
    padding-left: 10px;
    
}

.text-number span {
    font-size: 64px;
}
.text-line {
    padding-top: 18px;
}

.btn {
    text-decoration: none;
    background: #3D3737;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    margin: 15px 0;
}

.cardicon {
    margin-right: 5px;
    font-size: 18px;
}
.borderline {
    border-left: 2px solid black;
}