@media screen and ( max-width:1120px) {


.mobile-nav {
    display: flex;
    flex-direction: column;

}


.header-section {
    display: none;
}






.main-section {
    flex-direction: column;
    align-items: center; 
}








.borderline {
    border-left: none;
}


}